.App {
  display: flex;
  flex-direction: row;
}

.App .VideoChat {
  flex-grow: 1;
}

select {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 899;
}

.Splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  height: 100vh;
  background: url('../bg.jpg');
}

.Title {
  font-size: 86px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
}

.Subtitle {
  font-size: 24px;
  background-color: rgba(255, 255, 255, 0.8);
}

.Splash input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}