.Chat {
  width: 100%;
  flex-grow: 1;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

.Chat .Messages {
  padding: 10px;
}

.ChatControls .input, .button {
  border-radius: 0px !important;
}

.ChatControls .Input {
  flex-grow: 1;
}

.Messages {
  flex-grow: 1;
}

.Chat input {
  text-align: left;
  margin: 0;
}

.ChatDate {
  color: gray;
}