.Video {
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  height: 70vh;
}

.Local {
  position: absolute;
  height: 25vh;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-content: center;
}

.Video .Controls {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.Video .Controls div i {
  font-size: 20px;
  text-align: center;
}

.Video .Controls .Mic {
  color: black;
  background-color: white;
}

.Video .Controls .Recording {
  color: red;
}

.video .Controls .Hangup {
  /* transform: rotate(18deg); */
}

.Video .Controls div {
  color: white;
  background-color: red;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
}

.Video video {
  background-color: black;
}

.LeftSubtitles {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.RightSubtitles {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.Subtitle {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.InterimTranscript {
  color: gray;
}