.Video {
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
  height: 70vh;
}

.Local {
  position: absolute;
  height: 25vh;
  right: 30px;
  bottom: 30px;
  display: flex;
  align-content: center;
}

.Video .Controls {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.Video .Controls div {
  color: white;
  background-color: red;
  height: 40px;
  display: inline-block;
  padding: 20px;
  border-radius: 100%;
}

.Video .Controls div svg {
  width: 40px;
  height: 40px;
}

.Video video {
  background-color: black;
}

.Video .Controls .Hangup {
  transform: rotate(225deg);
}

.LeftSubtitles {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.RightSubtitles {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.Subtitle {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
}

.InterimTranscript {
  color: gray;
}