.Video {
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
}

.Video .Controls {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.Video .Controls div {
  color: white;
  background-color: red;
  height: 40px;
  display: inline-block;
  padding: 20px;
  border-radius: 100%;
}

.Video .Controls div svg {
  width: 40px;
  height: 40px;
}

.Video video {
  background-color: black;
}

.Video .Controls .Hangup {
  transform: rotate(225deg);
}